// ========================================
// Flexbox
// ========================================

@supports (flex-wrap: wrap) {

	.row {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		margin: 0;
		overflow: visible;
	}

	div[class^="col"] {
		float: none;
		margin-left: $gutter / 2;
		margin-right: $gutter / 2;

		&:last-of-type {
			margin-right: 0;
		}
	}

	.col-1 {
		width: calc(((100% / 12) * 12) - #{$gutter});
	}

	.col-2 {
		width: calc(((100% / 12) * 6) - #{$gutter});
	}

	.col-3 {
		width: calc(((100% / 12) * 4) - #{$gutter});
	}

	.col-4 {
		width: calc(((100% / 12) * 3) - #{$gutter});
	}

	.col-5 {
		width: calc(((100% / 12) * 2.4) - #{$gutter});
	}

	.col-6 {
		width: calc(((100% / 12) * 2) - #{$gutter});
	}

	.col-7 {
		width: calc(((100% / 12) * 1.7141) - #{$gutter});
	}

	.col-8 {
		width: calc(((100% / 12) * 1.5) - #{$gutter});
	}

	.col-9 {
		width: calc(((100% / 12) * 1.3333) - #{$gutter});
	}

	.col-10 {
		width: calc(((100% / 12) * 1.2) - #{$gutter});
	}

	.col-11 {
		width: calc(((100% / 12) * 1.091) - #{$gutter});
	}

	.col-12 {
		width: calc(((100% / 12) * 1) - #{$gutter});
	}

	.col-12,
	.col-11, {
		@include media(">desktop-sm", "<=desktop") {
			width: calc(((100% / 12) * 12) - #{$gutter});
		}
	}

	.col-12,
	.col-11,
	.col-10,
	.col-9, {
		@include media(">tablet", "<=desktop-sm") {
			width: calc(((100% / 12) * 12) - #{$gutter});
		}
	}

	.col-12,
	.col-11,
	.col-10,
	.col-9,
	.col-8,
	.col-7, {
		@include media(">tablet-sm", "<=tablet") {
			width: calc(((100% / 12) * 12) - #{$gutter});
		}
	}

	.col-12,
	.col-11,
	.col-10,
	.col-9,
	.col-8,
	.col-7,
	.col-6,
	.col-5, {
		@include media(">mobile-lg", "<=tablet-sm") {
			width: calc(((100% / 12) * 12) - #{$gutter});
		}
	}

	.col-12,
	.col-11,
	.col-10,
	.col-9,
	.col-8,
	.col-7,
	.col-6,
	.col-5,
	.col-4, {
		@include media(">mobile", "<=mobile-lg") {
			width: calc(((100% / 12) * 12) - #{$gutter});
		}
	}

	.col-12,
	.col-11,
	.col-10,
	.col-9,
	.col-8,
	.col-7,
	.col-6,
	.col-5,
	.col-4,
	.col-3,
	.col-2, {
		@include media(">0", "<=mobile") {
			width: calc(((100% / 12) * 12) - #{$gutter});
		}
	}
}
