// ========================================
// Flexbox
// ========================================

@supports (grid-area: auto) {

	.row {
		display: grid;
		grid-column-gap: $gutter;
		margin-left: $gutter / 2;
		margin-right: $gutter / 2;
	}

	div[class^="col"] {
		float: none;
		margin-left: 0;
		margin-right: 0;
	}

	@for $i from 1 through 12 {
		.grid-#{$i} {
			grid-template-columns: repeat(#{$i}, #{$i}fr);
		}
	}

	@for $i from 1 through 12 {
		.col-#{$i} {
			width: auto;
		}
	}

	@include media(">desktop-sm", "<=desktop") {
		.grid-12,
		.grid-11 {
			grid-template-columns: 1fr;
		}
	}

	@include media(">tablet", "<=desktop-sm") {
		.grid-12,
		.grid-11,
		.grid-10,
		.grid-9 {
			grid-template-columns: 1fr;
		}
	}

	@include media(">tablet-sm", "<=tablet") {
		.grid-12,
		.grid-11,
		.grid-10,
		.grid-9,
		.grid-8,
		.grid-7 {
			grid-template-columns: 1fr;
		}
	}

	@include media(">mobile-lg", "<=tablet-sm") {
		.grid-12,
		.grid-11,
		.grid-10,
		.grid-9,
		.grid-8,
		.grid-7,
		.grid-6,
		.grid-5 {
			grid-template-columns: 1fr;
		}
	}

	@include media(">mobile", "<=mobile-lg") {
		.grid-12,
		.grid-11,
		.grid-10,
		.grid-9,
		.grid-8,
		.grid-7,
		.grid-6,
		.grid-5,
		.grid-4 {
			grid-template-columns: 1fr;
		}
	}

	@include media(">0", "<=mobile") {
		.grid-12,
		.grid-11,
		.grid-10,
		.grid-9,
		.grid-8,
		.grid-7,
		.grid-6,
		.grid-5,
		.grid-4,
		.grid-3,
		.grid-2 {
			grid-template-columns: 1fr;
		}
	}
}
