// ========================================
// Colors
// ========================================
$color-background-screen: #F1F1F1;
$color-text-screen: #21759B;
$color-screen-reader-box-shadow: rgba(0, 0, 0, 0.6);
$color-base-font: #2E2E2E;

// Color Pallet
$blue: #0E34A0;
$snow: #FCF7F8;
$red: #F15025;
$gunmetal: #283044;
$air-blue: #78A1BB;
$white: #FFFFFF;

// Tints
$tint-blue: rgba(14, 52, 160, 0.2);
