@charset "UTF-8";
// ========================================
// Colors
// ========================================

$black: #000000;
$white: #FFFFFF;
$mineshaft: #2E2E2E;
$scorpion: #5C5C5C;
$grey: #8A8A8A;
$silver: #B8B8B8;
$mercury: #E6E6E6;
$yellow: #FFFF00;


$color-background-screen: $mercury;
$color-text-screen: $grey;
$color-screen-reader-box-shadow: rgba(0, 0, 0, 0.6);
$color-background-body: $mercury;
$color-text-main:       $mineshaft;
$color-background-hr:   $grey;
$color-border-abbr:     $scorpion;
