// ========================================
// Base
// ========================================
html {
	@include font-legibility;
	@include font-smoothing;
	background-color: $mineshaft;
	color: $color-base-font;
	font-size: $font-size-base + px;
}

.wrap {
	@include clearfix;
}
