// ========================================
// Core
// ========================================
html {
	@include font-legibility;
	@include font-smoothing;
	background-color: $color-background-body;
	color: $color-text-main;
	font-size: $font-size-base + px;
	@include z-index("base");
}

body {
	@include z-index("body");
}
